<div *ngIf="shoppingList">
    <h2>Détail de {{shoppingList.name | uppercase}} <button (click)="goBack()">go back</button>
    </h2>
    <label for="name">Nom : </label>
    <input id="name" [(ngModel)]="shoppingList.name" placeholder="exemple : Clément">
    <br/>
    <label for="name">Utilisateur : </label>
    <select name="user" [(ngModel)]="shoppingList.user">
        <option *ngFor="let user of users" [ngValue]="user">
            {{user.name}}
        </option>
    </select>
    <label><a routerLink="/users/get/{{shoppingList.user.id}}">Voir plus</a></label>
</div>