<div *ngIf="user">
    <h2>Détail de {{user.name | uppercase}} <button (click)="goBack()">go back</button></h2>

    <label for="name">Nom : </label>
    <input id="name" [(ngModel)]="user.name" placeholder="exemple : Clément">
</div>