<h2>Users</h2>
<div>
    <a *ngFor="let user of users" routerLink="/users/get/{{user.id}}">
      {{user.name}}
    </a>
</div>

<h2>Shoppings Lists</h2>
<div>
    <a *ngFor="let shoppingList of shoppingLists" routerLink="/shopping-list/get/{{shoppingList.id}}">
      {{shoppingList.name}}
    </a>
</div>